<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="poster-info">
            === {{user.username}} on {{created_at}} ===
        </div>
        <div class="text_content">
            &rAarr; {{text_content}}
        </div>
    </section>
    <br>
    {{/each}}
</div>