<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        
        <h1>
            <a href="/">Ra-byte Blog</a>
        </h1>
        <nav>
            <h3 style="display: inline; padding-right:5px">
                <a href="/login">Log In</a>
            </h3>

            <h3 style="display: inline; padding-right:5px">
                <a href="/signup">Sign Up</a>
            </h3>

            <h3 style="display: inline; padding-right:5px">
                <a href="/login">Log Out</a>
            </h3>

            <h3 style="display: inline; padding-right:5px">
                <a href="/login">Dashboard</a>
            </h3>
        </nav>
    </header>
    <hr>
    <main>
        {{{ body }}}
    </main>
    <hr>
    <footer>
        Made by William Bolls
    </footer>
</body>
</html>