<form class="login-form">
    <div>
        <label for="username-field">username:</label>
        <input type="text" id="username-field"/>
    </div>
    <div>
        <label for="password-field">password:</label>
        <input type="password" id="password-field"/>
    </div>
    <div>
        <button type="submit"></button>
    </div>
</form>
<script src="/javascript/login.js"></script>