<form class="signup-form">
    <div>
        <label for="username-field">username:</label>
        <input type="text" id="username-field"/>
    </div>
    <div>
        <label for="password-field">password:</label>
        <input type="password" id="password-field"/>
    </div>
    <div>
        <button type="submit">sign up</button>
    </div>
</form>
<script src="/javascript/signup.js"></script>