<article class="post">
    <h2><a href="/">{{post.title}}</a> <span style="font-size: 12px;">- posted by {{post.user.username}} on {{post.created_at}}</span></h2>
    <hr>
    <p>{{post.text_content}}</p>
</article>